
body{
    max-width: 1400;
}
.inter{ font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
}
.navbar1{
    background-image: url('/assign/Assets/Hero-bg.png');
    background-repeat: no-repeat;
    overflow: auto;
}

.boxi{
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 209px;

    font-weight: bold;
    font-style: normal;
    margin-left: 267px;
    margin-right: 267px;
}
.button1{
      position: absolute;
      top: 50px;
      right: 150px;
      padding: 10px 20px;
      background-color: #4E47FF;
      color: #FFFFFF;
      border: none;
      border-radius: 5px;
}
.crnr-head{
    color: #4E47FF;
    margin: 50px 150px;
    font-size: 34px;
    font-weight: bolder;
    
}
.button2{
    background-color: #4E47FF;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;   
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
}
